<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <head jsfc="h:head">
        <title>Core</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <style>
            table {
                border-collapse:collapse;
            }

            .nomal table, th, td{
                border-width: 1px;
                border-style: solid;
            }

            .jsf {
                border-style: hidden;
            }

        </style>
    </head>
    <body>
        <h1>Radio Core Table Row</h1>


        <div class="nomal">

            <h2>Pure HTML</h2>


            <table style="">
                <thead>
                    <tr>
                        <th></th>
                        <th>名前</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" value="MAN" name="user" id="user0"/></td>
                        <td>ああ　ああ</td>
                    </tr>

                    <tr>
                        <td><input type="radio" value="WOMAN" name="user" id="user1"/></td>
                        <td>いい　いい</td>
                    </tr>


                    <tr>
                        <td><input type="radio" value="OTHER" name="user" id="user2"/></td>
                        <td>うう　うう</td>
                    </tr>
                </tbody>
            </table>


        </div>



        <div style="clear: both">

            <hr />

            <h2>Core(JSF tag：没)</h2>


            <h:form>

                <h:dataTable value="#{usersForm.users}" var="user">
                    <h:column>
                        <input type="radio" value="#{user.name}" pt:name="itemJSF" jsf:id="radioOn"
                               rendered="#{usersForm.renderChecked(user.id)}">
                            <f:passThroughAttributes value="#{usersForm.checked}"/>
                            <f:ajax event="click"  listener="#{userAction.change}"/>
                        </input>
                        <input type="radio" value="#{user.name}" pt:name="itemJSF" jsf:id="radioOff"
                               rendered="#{usersForm.renderChecked(user.id)==false}">
                            <f:ajax event="click"  listener="#{userAction.change}"/>
                        </input>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="名前"/>
                        </f:facet>
                        <h:outputText value="#{user.name}"/>
                    </h:column>

                </h:dataTable>

                <p for="test">user name = #{usersForm.checkedId}</p>
                <h:commandButton action="#{userAction.update()}" value="更新"/>

            </h:form>
        </div>

    </body>
</html>
