<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <head jsfc="h:head">
        <title>Core</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <style>
            table {
                border-collapse:collapse;
            }

            .nomal table, th, td{
                border-width: 1px;
                border-style: solid;
            }

            .jsf {
                border-style: hidden;
            }

        </style>

        <ui:remove>
            <style>
                .designOnly {
                    display: none;
                }

            </style>
        </ui:remove>
    </head>
    <body>
        <h1>Radio Core Table Row</h1>


        <div class="nomal">

            <h2>Pure HTML</h2>


            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>商品</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" value="AAAA" name="item" id="item0" checked="" /></td>
                        <td>ＡＡ　ＡＡ</td>
                    </tr>

                    <tr>
                        <td><input type="radio" value="BBBB" name="item" id="item1"/></td>
                        <td>ＢＢ　ＢＢ</td>
                    </tr>


                    <tr>
                        <td><input type="radio" value="CCCC" name="item" id="item2"/></td>
                        <td>ＣＣ　ＣＣ</td>
                    </tr>
                </tbody>
            </table>


        </div>



        <div style="clear: both">

            <hr />

            <h2>ui:repeat</h2>


            <h:form>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>商品</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr jsfc="ui:repeat" value="#{itemsForm.items}" var="item" varStatus="state">
                            <td>
                                <input type="radio" value="#{item.itemValue}" pt:name="itemJSF" jsf:id="radioOn"
                                       rendered="#{itemsForm.renderChecked(state.index)}">
                                    <f:passThroughAttributes value="#{itemsForm.checked}"/>
                                    <f:ajax event="click"  listener="#{itemAction.change(state.index)}"/>
                                </input>


                                <input type="radio" value="#{item.itemValue}" pt:name="itemJSF" jsf:id="radioOff" class="designOnly"
                                       rendered="#{itemsForm.renderChecked(state.index)==false}">
                                    <f:ajax event="click"  listener="#{itemAction.change(state.index)}"/>
                                </input>


                            </td>
                            <td>#{item.itemValue}</td>

                        </tr>

                    </tbody>
                </table>



                <p>item = #{itemsForm.checkedItem}</p>
                <h:commandButton action="#{itemAction.update()}" value="更新"/>

            </h:form>
        </div>

    </body>
</html>
