<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      >
    <head>
        <title>Radio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Radio</h1>
        <h:form>

            <p>gender value</p>
            <p>#{genderForm.genderType.display}</p>

            <div>
                <h:commandLink action="/index.xhtml">top page</h:commandLink>
            </div>


        </h:form>

    </body>
</html>
