<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <head>
        <title>Core</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    </head>
    <body>
        <h1>Radio Core</h1>


        <div>

            <h2>Pure HTML</h2>

            <div  style="float: left">
                <div>
                    <input type="radio" value="MAN" name="gender" id="gender0">
                    </input>
                    <label for="gender0">男性</label>
                </div>
            </div>
            <div style="float: left">
                <div>
                    <input type="radio" value="WOMAN" name="gender" id="gender1" />
                    <label for="gender1">女性</label>
                </div>
            </div>
            <div style="float: left">
                <div>
                    <input type="radio" value="OTHER" name="gender" id="gender2"/>
                    <label for="gender2">不明</label>
                </div>
            </div>


        </div>



        <div style="clear: both">

            <hr />

            <h2>Core(JSF tag)</h2>


            <h:form>

                <h:selectOneRadio value="#{genderForm.genderValue}">
                    <f:selectItems value="#{genderForm.selectItems}"/>
                </h:selectOneRadio>

                <p>genderValue</p>
                <p>#{genderForm.genderValue}</p>


                <h:commandButton action="#{genderAction.update()}" value="更新"/>


            </h:form>
        </div>

    </body>
</html>
