<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <head jsfc="h:head">
        <title>Core</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    </head>
    <body>
        <h1>Radio Core</h1>


        <div>

            <h2>Pure HTML</h2>

            <div  style="float: left">
                <div>
                    <input type="radio" value="MAN" name="gender" id="gender0">
                    </input>
                    <label for="gender0">男性</label>
                </div>
            </div>
            <div style="float: left">
                <div>
                    <input type="radio" value="WOMAN" name="gender" id="gender1" />
                    <label for="gender1">女性</label>
                </div>
            </div>
            <div style="float: left">
                <div>
                    <input type="radio" value="OTHER" name="gender" id="gender2"/>
                    <label for="gender2">不明</label>
                </div>
            </div>


        </div>



        <div style="clear: both">

            <hr />

            <h2>Core(JSF tag)</h2>


            <h:form>

                <div  style="float: left">
                    <div>
                        <input type="radio" pt:name="genderJSF" jsf:id="#{genderForm.targetId(0)}">
                            <f:passThroughAttributes value="#{genderForm.checked(0)}"/>
                            <f:ajax event="click"  listener="#{genderAction.change}"/>
                        </input>
                        <label for="#{genderForm.targetFor(component.clientId, 0)}">
                            #{genderForm.targetLabel(0)}
                        </label>
                    </div>
                </div>
                <div style="float: left">
                    <div>
                        <input type="radio" pt:name="genderJSF" jsf:id="#{genderForm.targetId(1)}">
                            <f:passThroughAttributes value="#{genderForm.checked(1)}"/>
                            <f:ajax event="click" listener="#{genderAction.change}"/>
                        </input>
                        <label for="#{genderForm.targetFor(component.clientId, 1)}">
                            #{genderForm.targetLabel(1)}
                        </label>
                    </div>
                </div>
                <div style="float: left">
                    <div>
                        <input type="radio" pt:name="genderJSF" jsf:id="#{genderForm.targetId(2)}">
                            <f:passThroughAttributes value="#{genderForm.checked(2)}" />
                            <f:ajax event="click" listener="#{genderAction.change}"/>
                        </input>
                        <label for="#{genderForm.targetFor(component.clientId, 2)}">
                            #{genderForm.targetLabel(2)}
                        </label>
                    </div>
                </div>

                <br />
                <p>genderValue</p>
                <p>#{genderForm.genderValue}</p>

                <br />
                <h:commandButton action="#{genderAction.update()}" value="更新"/>
                <br />
                <h:commandButton action="#{genderAction.confirm()}" value="確認"/>

            </h:form>
        </div>

    </body>
</html>
