<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      >
    <head>
        <title>Radio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Radio</h1>
        <h:form>

            <div>
                <h:commandLink action="/apps/nomal/core.xhtml">Nomal RadioButton, JSF Tag</h:commandLink>
            </div>

            <div>
                <h:commandLink action="/apps/nomal/htmlFriendly.xhtml">Nomal RadioButton, Html Friendly</h:commandLink>
            </div>

            <div>
                <h:commandLink action="/apps/repeat/uiRepeat.xhtml">Nomal RadioButton, Html Friendly(ui:repeat)</h:commandLink>
            </div>

            <div>
                <h:commandLink action="/apps/table/table.xhtml">RadioButton in Table, ui:repeat</h:commandLink>
            </div>

            <div>
                <h:commandLink action="/apps/table/datatable.xhtml">RadioButton in Table, dataTable（没）</h:commandLink>
            </div>


        </h:form>


    </body>
</html>
