<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <head jsfc="h:head">
        <title>Core</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>


        <ui:remove>
            <style>
                .designOnly {
                    display: none;
                }

            </style>
        </ui:remove>
    </head>
    <body>
        <h1>Radio Core</h1>


        <div>

            <h2>Pure HTML</h2>

            <div  style="float: left">
                <div>
                    <input type="radio" value="MAN" name="gender" id="gender0">
                    </input>
                    <label for="gender0">男性</label>
                </div>
            </div>
            <div style="float: left">
                <div>
                    <input type="radio" value="WOMAN" name="gender" id="gender1" />
                    <label for="gender1">女性</label>
                </div>
            </div>
            <div style="float: left">
                <div>
                    <input type="radio" value="OTHER" name="gender" id="gender2"/>
                    <label for="gender2">不明</label>
                </div>
            </div>


        </div>



        <div style="clear: both">

            <hr />

            <h2>Core(JSF tag)</h2>


            <h:form>

                <div style="float: left" jsfc="ui:repeat" value="#{genderTypeItemsForm.items}" var="genderTypeForm" varStatus="stat">
                    <div jsf:rendered="#{genderTypeItemsForm.renderChecked(stat.index)}">
                        <input type="radio" jsf:id="radioOn" pt:name="radioJSF" value="#{genderTypeForm.genderTypeValue}" checked="checked">
                            <f:ajax event="click"  listener="#{genderRepeatAction.change(stat.index)}"/>
                        </input>
                        <label for="#{genderTypeItemsForm.forTargetRadioOn(component)}" >
                            #{genderTypeForm.display}
                        </label>
                    </div>

                    <div jsf:rendered="#{genderTypeItemsForm.renderChecked(stat.index)==false}" class="designOnly">
                        <input type="radio" jsf:id="radioOff" pt:name="radioJSF" value="#{genderTypeForm.genderTypeValue}">
                            <f:ajax event="click"  listener="#{genderRepeatAction.change(stat.index)}"/>
                        </input>
                        <label for="#{genderTypeItemsForm.forTargetRadioOff(component)}" >
                            #{genderTypeForm.display}
                        </label>
                    </div>
                </div>


                <br />
                <p>genderValue</p>
                <p>#{genderTypeItemsForm.display}</p>

                <br />
                <h:commandButton action="#{genderRepeatAction.update()}" value="更新"/>
                <br />
                <h:commandButton action="#{genderRepeatAction.confirm()}" value="確認"/>

            </h:form>
        </div>

    </body>
</html>
